.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.pyc
*~
\#*
*.swp
TEST*.xml
*/null/
atlassian-ide-plugin.xml
*/.checkstyle
.project
.settings
.classpath
.metadata
*jetty.request.log
.clover
src/main/resources/target/
src/main/resources/testdata/batch/
target/
jacoco-it.exec